  
  
  <div class="row">
    <div class="col-lg">
      
      <nb-card>
        
        <nb-card-header>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

            <li class="breadcrumb-item"><a routerLink="/pages/employee/employee-list">Employee list</a></li>
           <li class="breadcrumb-item active" aria-current="page">Add employee</li>
          </ol>
        </nav>
       
          Add Employee.</nb-card-header>
        <nb-card-body>
          
               <form [formGroup]="add_employee">
                   <div class="form-row"> 
                    <p>Name : <sup style="color:red;">*</sup></p>
                  </div>
                  <div class="form-row">
                  <div class="form-group "> 
                          <nb-select formControlName="title"    [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                              <nb-option value=""disabled>Title</nb-option>
                              <nb-option value="Mr">Mr. </nb-option>
                              <nb-option value="Mrs">Mrs. </nb-option>
                              <nb-option value="Miss">Miss. </nb-option>
                              <nb-option value="Ms">Ms. </nb-option>
                          </nb-select>
                          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                              <div *ngIf="f.title.errors.required">Title is required</div>
                          </div>
                      </div>
                    <!-- ============================================================================================== -->
             
                      <div class="form-group col-5">
          
                        <input type="text" formControlName="firstName" nbInput fullWidth shape="rectangle" style="border-radius: 5px;" placeholder=" First Name"   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors">
                            <div class="dropdown" *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <!-- ============================================================================================== -->
                    <div class="form-group col-5">
           
                      <input type="text" formControlName="lastName" nbInput fullWidth   placeholder="Last Name"   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors"> 
                          <div class="dropdown" *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                </div>
          <!-- ============================================================================================== -->
                   
                    <div class="form-row">
                      <p>Email : <sup style="color:red;">*</sup></p> 
                    </div>
                    <div class="form-row">   
                        <div class="form-group col">
            
                          <input type="text" formControlName="email" nbInput fullWidth   placeholder="Email"   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                          <div *ngIf="submitted && f.email.errors"  >
                              <div class="dropdown" *ngIf="f.email.errors.required">Email. required</div>
                              <div class="dropdown" *ngIf="f.email.errors.pattern">Enter valid Email</div>
                          </div>
                      </div>
               </div>

               <div class="form-row">
                <p>Password : <sup style="color:red;">*</sup></p> 
              </div>
              <div class="form-row">   
                  <div class="form-group col">
      
                    <input type="password" formControlName="password" nbInput fullWidth   placeholder="password"   [ngClass]="{ 'is-invalid': submitted && f.password.errors}" minlength="4" />
                    <div *ngIf="submitted && f.password.errors">
                        <div class="dropdown" *ngIf="f.password.errors.required">Password required</div>
                        <div class="dropdown" *ngIf="f.password.errors.minlength">Min Lengith is 4</div>
                    </div>
                </div> 
         </div>
               <div class="form-row">
                <p>Role : <sup style="color:red;">*</sup></p>
              </div>
              <div class="form-row">
                <div class="form-group  col-2">
                      <nb-select style="width:250px;" formControlName="role"     [ngClass]="{ 'is-invalid': submitted && f.role.errors}" required>
                          <nb-option value="" disabled>select Role</nb-option>
                          <!-- <nb-option value="1">Admin</nb-option> -->
                          <nb-option value="2">Team Leader</nb-option>
                          <nb-option value="3">Employee</nb-option>
                        </nb-select>
                      <div *ngIf="submitted && f.role.errors" > 
                          <div class="dropdown" *ngIf="f.role.errors.required">Role is required</div>
                      </div>
                   
                  </div>
                </div>
              <div class="text-center">
                  <button  nbButton hero status="primary"  (click)="onSubmit()">Add Employee</button>
                  &nbsp;
                  <button nbButton hero status="danger" type="reset" style="box-shadow:black;" (click)="onReset()">Cancel</button>
                  <hr>
                  <div style="color: red; font-size: 10px; text-align: end;">( * for Required Fields.)</div>
              </div>
              </form>
           
      </nb-card-body>
    </nb-card>
  </div>
      
</div>


               

 