 /* ---------------Auto - Count Si.No---------------------- */
  

 body{
  /* Set "my-sec-counter" to 0 */
 counter-reset: my-sec-counter;
}

#count::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content:  counter(my-sec-counter) ;
}
/* ---------------------------------------------- */
 
  p.strikeout {
  content: "";
  align-items: center;
  top: 50%;
  
  left: 0;
  border-bottom: 1px solid #111; 
  width:50px;
  
}

  /* -----------------------------Button-----------------------/ */
  .btn-success{
    align-self: flex-end;
    box-shadow: 1px 2px 5px #000000;   
    font-family: Arial, Helvetica, sans-serif;
}

.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
}

 /* ---------------------------------------------- */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}



 
.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}


.form-control::placeholder  {
  font-family: FontAwesome;
}