<body>
  <!-- <button icon:checkmark-circle-outline></button> -->
  <!-- <nb-action class="control-item" icon="checkmark-circle-outline" (click)=""></nb-action> -->
        

  
  <nb-card>
    <nb-card-header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a>Ticket list</a></li>
          
          <!-- <li class="breadcrumb-item"><a routerLink="/pages/ticket/addticket">Add_Ticket</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/createdByYou">Tickets_created_By_You</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/assignedForYou">Tickets_assigned_For_You</a></li>

         <li class="breadcrumb-item active" aria-current="page">Closed_Ticket</li> -->
        </ol>
      </nav>    
   <div class="row">
     <h6 style="font-family:'Times New Roman', Times, serif; font-size: 30px;text-shadow: black;margin-top: 13px;margin-left: 20px;"> Ticket List</h6>
     <input class="form-control"  style="width: 40%;margin-left: 40%;" type="text" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)"
     autocomplete="off" placeholder="&#61442; Click Here To Search by Ticket name........">
    </div>
    </nb-card-header>


    <nb-card-body>

      <nav aria-label="breadcrumb">
        <div class="container">
          <div class="row">
           
          <form [formGroup]="EmployeeSort" style="margin-left:16px;">
           <nb-select placeholder="Employee Name" formControlName="emp" status="danger" style="width: 200px;" (ngModelChange)="sortEmployee()">
            <nb-option   value="all">All Tickets</nb-option>

            <nb-option  *ngFor="let emp of allemp"  value="{{emp._id}}">{{emp.name}}</nb-option>
            </nb-select>

          </form> 
          <button style="margin-left: 63%;" class="btn  btn-success" (click)="onClick()">Add Ticket</button> 

        </div> 
          
          <br>
           
           
          <hr style="margin-top: 0px;">             
 

          <!-- ------------------------------------------view------------------ -->
          
          <div *ngIf="tickets?.length!= 0 && accessPagination==1" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina($event)">
            </ngx-pagination>
    
          </div>
          <div *ngIf="tickets?.length!= 0 && accessPagination==2" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina2($event)">
            </ngx-pagination>
    
          </div>
          <div *ngIf="tickets?.length!= 0 && accessPagination==3" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina3($event)">
            </ngx-pagination>
    
          </div>
          <div *ngIf="tickets?.length!= 0 && accessPagination==4" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina4($event)">
            </ngx-pagination>
    
          </div>
        


          <div class="table-responsive"> 


            <table class="table table-striped">

              <thead>
                <tr style="text-align: center;" class="thead-dark">


                  <th>Si.No</th>
                  <th>Ticket Id</th>
                  <th>Ticket Name</th>
                  <th>Description</th>
                  <th>Date Of Creation</th>
                  <th>Created By</th>
                  <th>Assigned to</th>
                  <th>Project</th>
                  <th style="width: 110px;">
                    <form [formGroup]="sortStatus">
                    <nb-select hero style="width: 85%;" placeholder="All" formControlName="sort" (ngModelChange)="onChangeStatus()">
                      <nb-option value="open">Open</nb-option>
                      <nb-option value="Inprogress">Inprogress</nb-option>
                      <nb-option value="Test">Test</nb-option>
                      <nb-option value="all">All</nb-option>

                      <!-- <nb-option value="closed">Closed</nb-option> -->
  
                  </nb-select>
                </form></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="tickets?.length == 0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 150px;"><b>
                      <nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found
                    </b> </td>
                    <td></td>
                  <td></td>
                  <td></td>
                  <td></td>


                  </tr>
              </tbody>
              <tbody style="text-align: center;">  


                <tr *ngFor="let tick of tickets ;index as i">

                  <td>{{sino[i]}}</td>
                  <td>{{tick.id}}</td>
                  <td style="cursor: pointer;color:#3366ff;text-transform: capitalize;" nbTooltip="View Ticket Details" nbTooltipPlacement="top" (click)="viewDetails(tick)"> {{tick.name}}</td>
                  <td>
                    <nb-action nbTooltip="View Ticket Description" nbTooltipPlacement="top" data-toggle="modal"
                      (click)="getDes(tick)" data-target="#exampleModalCenter">
                      &nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
                      <!-- <ion-icon name="eye-outline"></ion-icon> -->
                    </nb-action>
                  </td>


                  <td>{{tick.createdon|date}}</td>
                  <td> {{tick.createdby.name}}</td>
                  <td>
                     <nb-user style="margin-left: 30px;" size="small"
                                     name={{tick.assignto.name}} 
                                     color="bisque"                                
                                      onlyPicture>
                            </nb-user>
                            {{tick.assignto.name}}
                  </td>
                  <td style="width: 20px;">{{tick.projectname.projectname}}</td>
                  <td *ngIf="tick.status=='open'"><b>open</b></td>
                  <td *ngIf="tick.status=='Inprogress'" style="color: darkorange; text-shadow:black;"><b>In Progress</b>
                  </td>
                  <td *ngIf="tick.status=='Test'" style="color:green; text-shadow:black;"><b>Test</b></td>
                  <td *ngIf="tick.status=='closed'">
                    <span class="strikeout" style="color: brown; font-style: italic; text-decoration: line-through; "><b>Closed</b></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <!-- <div style="margin-left: 25%;">
              <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div> -->
            <hr>
          </div>
        </div>
      </nav>
    </nb-card-body>
  </nb-card>
</body>


<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>