
<body> 
  <nb-card>
    <nb-card-header> <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

        <li class="breadcrumb-item"><a routerLink="/pages/ticket/listTicket">Ticket list</a></li>
        <li class="breadcrumb-item"><a routerLink="/pages/ticket/addticket">Add ticket</a></li>
        <!-- <li class="breadcrumb-item"><a routerLink="/pages/ticket/createdByYou">Tickets_created_By_You</a></li> -->

       <li class="breadcrumb-item active" aria-current="page">Tickets created by you</li>
      </ol>
    </nav> 
    <div class="row">
    <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;margin-top: 13px;margin-left: 20px;"> Ticket's Created By You</h6>
    <!-- <input class="form-control" style="width: 40%;margin-left: 28%;" type="text" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)"
    autocomplete="off" placeholder="&#61442; Click Here To Search by Ticket name........"> -->
  </div>   
        
 
    </nb-card-header>
  
    <nb-card-body>
      
       <nav aria-label="breadcrumb">
         <div  *ngIf="createdbyyou?.length!= 0&&paginationAccess==1" style="margin-left: 23%;">
        <ngx-pagination
        [page]="pageno"
        total="size"
         [totalPages]="totalPages"
          (mudouPagina)="mudouPagina($event)">
        </ngx-pagination>

      </div>
      <div  *ngIf="createdbyyou?.length!= 0&&paginationAccess==2" style="margin-left: 23%;">
        <ngx-pagination
        [page]="pageno"
        total="size"
         [totalPages]="totalPages"
          (mudouPagina)="mudouPagina2($event)">
        </ngx-pagination>

      </div>
    
         
         
              <div class="table-responsive"> 
               <!-- <form [formGroup]="changeStatus" >   -->
                <table class="table table-striped">
                    <thead style="text-align: center;" class="thead-dark">
                       <tr>
                  <th>Si.No</th>
                  <th>Ticket Id</th>
              <th>Ticket Name</th>
              <th>Description</th>
              <th>Date Of Creation</th>
              <th>Created By</th>
              <th>Assigned to</th>
              <th>Project</th>
              <th style="width: 110px;">
                <form [formGroup]="sortStatus" style="margin-right: 8px;">
                <nb-select hero style="width: 85%;" placeholder="All" formControlName="sort" (ngModelChange)="onSortStatus()">
                  <nb-option value="all">All</nb-option>
                  <nb-option value="open">Open</nb-option>
                  <nb-option value="Inprogress">Inprogress</nb-option>
                  <nb-option value="Test">Test</nb-option>
                  <nb-option value="closed">Closed</nb-option>

                  <!-- <nb-option value="closed">Closed</nb-option> -->

              </nb-select>
            </form></th>
             
              <th>Changestatus</th>
          </tr>
        </thead>
         
         
 <tbody style="text-align: center;"> 
   <tr *ngIf="createdbyyou?.length == 0">
  <td></td>
 <td></td>
 <td></td>
  <td></td>
<td style="width: 150px;"><b><nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found </b> </td>
<td></td>
<td></td>   
<td></td>   
<td></td> 
<td></td>   


</tr>

    <tr *ngFor="let tick of createdbyyou;let i = index "> 
      <!-- <td *ngIf="index==0">No Data found</td> -->
      
        <td >{{sino[i]}}</td>
        <td ><b>{{tick.id}}</b></td>
      <td  style="cursor: pointer;color:#3366ff;text-transform: capitalize;" (click)="viewDetails(tick)"> {{tick.name}}</td>
      <td >
        <nb-action nbTooltip="View Ticket Description" nbTooltipPlacement="top"      data-toggle="modal" (click)="getDes(tick)"  data-target="#exampleModalCenter">
          &nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
          <nb-icon *ngIf="tick.priority=='1'" style="cursor: pointer;color: darkred;" icon="arrow-upward-outline"></nb-icon>
          <nb-icon *ngIf="tick.priority=='2'" style="cursor: pointer;color: red;" icon="arrow-upward-outline"></nb-icon>
          <nb-icon *ngIf="tick.priority=='3'" style="cursor: pointer;color: lightseagreen;" icon="arrow-downward-outline"></nb-icon>
          <nb-icon *ngIf="tick.priority=='4'" style="cursor: pointer;color: green;" icon="arrow-upward-outline"></nb-icon>
        
        </nb-action>
        
     </td>
      <th >{{tick.createdon|date}}</th>
      <td >{{tick.createdby.name}}</td>
      <th >{{tick.assignto.name}}</th>
      <td >{{tick.projectname.projectname}}</td>
      <td *ngIf="tick.status=='open'"><b>open</b></td>
      <td *ngIf="tick.status=='Inprogress'" style="color: darkorange; text-shadow:black;"><b>In Progress</b></td>
      <td *ngIf="tick.status=='Test'" style="color:green; text-shadow:black;"><b>Test</b></td>
      <td *ngIf="tick.status=='closed'">
        <span class="strikeout" style="color: brown; font-style: italic; text-decoration: line-through; "><b>Closed</b></span>
      </td>
   
      <td  *ngIf="tick.status=='closed'" style="width: 60px;">  
        <span class="strikeout" style="color: brown; font-style: italic; text-decoration: line-through; "><b>Closed</b></span>
         
        </td>
        
       <td  *ngIf="tick.status!='closed'" style="width: 60px;">  
         
        <nb-action data-toggle="modal" (click)="conform(tick)"  data-target="#myModal">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon disabled="tick.status=='closed'" style="color: darkorange; cursor: pointer;" icon="checkmark-circle-outline"></nb-icon>
     </nb-action>
   
          
            
         
        <!-- <td *ngIf="tick.status=='closed'"> -->
          <!-- <p  class="strikeout" style="font-style: italic;">Closed</p></td> -->
      
      <!-- <td>{{tick.status}}</td> -->
    </tr>
  
  </tbody>
     
       </table>
      <!-- </form> -->
      </div>
      
      </nav>
            
  </nb-card-body>
</nb-card>
</body>
<!-- --------------------------------------for Change status------------------------------------------------------- -->
 <!-- The Modal -->
 <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Submit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Are You Sure !!! You want to Close the Ticket : <i> {{selectedticket}}</i>
       </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onChangeStatus()" >yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
      
    </div>
  </div>
</div>

<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
