  
  
  <div class="row">
    <div class="col-lg">
      <nb-card>
        <nb-card-header>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

              <li class="breadcrumb-item"><a routerLink="/pages/project/project-list">Project list</a></li>
             <li class="breadcrumb-item active" aria-current="page">Add project</li>
            </ol>
          </nav>
          <hr>
          <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;">Create Project</h6>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="Add_Project"   >
        
              
        <!-- ---------------------------------------------------- -->     
        <div class="form-row">   
           <p>Project Name: <sup style="color:red;">*</sup></p>
            </div>
             
               <div class="form-group">
                <input type="text" formControlName="projectname" nbInput fullWidth placeholder="Project Name"  [ngClass]="{ 'is-invalid': submitted && f.projectname.errors }" />
                <div *ngIf="submitted && f.projectname.errors">
                    <div class="dropdown"  *ngIf="f.projectname.errors.required">Project Name is required</div>
                </div>
              </div>
              
            
 <!-- ---------------------------------------------------- -->
         <div class="form-row">
          <p>TeamLeader: <sup style="color:red;">*</sup></p>
            <div class="form-group col">
            
        </div>
      </div>
        <!-- <div class="nb-form-row"> -->
        <div class="form-group ">
        <nb-select   placeholder="Select Showcase" style="width: 250px;" formControlName="tl" [(selected)]="selectedmultiple"   [ngClass]="{ 'is-invalid': submitted && f.tl.errors }">
          <nb-option value="" disabled>   ---  none ---</nb-option>
          <nb-option *ngFor="let tl of getLead" [value]="tl._id">{{tl.name}}</nb-option>

        </nb-select>
    

                 <div *ngIf="submitted && f.tl.errors"  >
                    <div class="dropdown"  *ngIf="f.tl.errors.required">select Team Leader  </div>
                </div>
              </div>
          
           
            
          <!-- </div> -->
          <!-- ---------------------------------------------------- -->
          <div class="form-row"> 
            <p>Project Members: <sup style="color:red;">*</sup></p>
          </div> 
          
             
            <div class="from-group ">
              <nb-select multiple placeholder="Select Showcase" fullWidth style="width: 600px;" formControlName="emp" [(selected)]="selectedItem"   [ngClass]="{ 'is-invalid': submitted && f.emp.errors }">
                <nb-option value="" disabled>   ---  none ---</nb-option>
                <nb-option *ngFor="let emp of getemployee" [value]="emp._id">{{emp.name}}</nb-option>
              </nb-select>
          
              <div *ngIf="submitted && f.emp.errors"  >
                <div class="dropdown"  *ngIf="f.emp.errors.required">Select Employees for Project  </div>
            </div>

               </div>
          
          

          <!-- ---------------------------------------------------- -->
          <div class="form-row"> 

            <p>Description: <sup style="color:red;">*</sup></p>
          </div>

          <div class="form-group ">
            <textarea  formControlName="description" nbInput fullWidth   style="border-radius: 5px;"  rows="5" cols="70" name="comment" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors">
              <div class="dropdown"  *ngIf="f.description.errors.required">Description Required</div>
          </div>
          </div>

     
         
          <div class="text-center">
            <button nbButton hero status="primary" (click)="onsubmit()">Add Project</button>
            &nbsp;
            <button nbButton hero status="danger" type="reset" (click)="onReset()">Cancel</button>
        </div>
        <hr>
        <div style="color: red; font-size: 10px; text-align: end;">( * for Required Fields.)</div>
        </form>
</nb-card-body>
</nb-card>
        </div>
      
        </div>
      

              