.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14px;
    
}
body{
    /* Set "my-sec-counter" to 0 */
   counter-reset: my-sec-counter;
  }
  
  #count::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content:  counter(my-sec-counter) ;
  }
  