 
<div class="row">
    <div class="col-md">
      <nb-card accent="danger" *ngIf="count==0">
        <nb-card-body>
            <nb-card >
                <nb-card-body >
                To Do
                <b>  <nb-badge text="{{count}}" status="danger" style="margin-top:20px;margin-right: 20px;" ></nb-badge></b>
                  <hr>
                 <p style="text-align: center;">No Ticket is Open for you</p>
              </nb-card-body>
     </nb-card>
     </nb-card-body>
      </nb-card>

        <nb-card accent="danger" *ngIf="count!=0"  >
            <nb-card-body>
       
       <nb-card size="medium">
            <nb-card-body >
            To Do
            <b>  <nb-badge text="{{count}}" status="danger" style="margin-top:20px;margin-right: 20px;" ></nb-badge></b>
  
               <hr>
 

               <div *ngFor="let tick of assignforyou" > 
               <div *ngIf="tick.status=='open'" style="box-shadow: black; padding-block-end: 2px;"> 
                <div class="card bg-info text-white" >
                    <div class="card-body" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >
                      
                      <div *ngIf="tick.issuetype=='1'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="alert-circle"></nb-icon> <b> Improvement - </b> <b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <div *ngIf="tick.issuetype=='2'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="cube"></nb-icon><b> Bug - </b><b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <div *ngIf="tick.issuetype=='3'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="plus-square"></nb-icon> <b> Task - </b> <b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b><br></div> 
                      <div *ngIf="tick.issuetype=='4'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="slash-outline"></nb-icon> <b> Issue - </b><b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <hr style="margin-bottom: -13px;">
                       
                       
                    </div>
                  
                  </div>
                  </div>
                </div>
             </nb-card-body>
       </nb-card>
       </nb-card-body>
       </nb-card>
    </div>
    <!-- --------------------------------------------------------------- -->
    <div class="col-md">
      
      <nb-card accent="danger" *ngIf="incount==0">
        <nb-card-body>
            <nb-card >
                <nb-card-body >
                Inprogress
                <b>  <nb-badge text="{{incount}}" status="danger" style="margin-top:20px;margin-right: 20px;" ></nb-badge></b>
                  <hr>
                 <p style="text-align: center;">No Ticket is Inprogress for you</p>
              </nb-card-body>
     </nb-card>
     </nb-card-body>
      </nb-card>

    

      <nb-card accent="danger" *ngIf="incount!=0">
        <nb-card-body>
            <nb-card size="medium">
                <nb-card-body >
                Inprogress
                <b>  <nb-badge text="{{incount}}" status="danger" style="margin-top:20px;margin-right: 20px;" ></nb-badge></b>
      
                   <hr>
                   <div *ngFor="let tick of assignforyou;index as i">
                   <div *ngIf="tick.status=='Inprogress'" style="box-shadow: black; padding-block-end: 2px;" > 
                    <div class="card bg-info text-white" >
                        <div class="card-body"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; " >
                              
                      <div *ngIf="tick.issuetype=='1'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="alert-circle"></nb-icon> <b> Improvement - </b> <b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <div *ngIf="tick.issuetype=='2'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="cube"></nb-icon><b> Bug - </b><b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <div *ngIf="tick.issuetype=='3'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="plus-square"></nb-icon> <b> Task - </b> <b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b><br></div> 
                      <div *ngIf="tick.issuetype=='4'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="slash-outline"></nb-icon> <b>Issue - </b><b (click)="getTicketDetails(tick)" style="cursor: pointer;text-transform: capitalize;"><a >{{tick.name}}</a></b> <br></div> 
                      <hr style="margin-bottom: -13px;"> 
                          </div>
                    </div>
                    </div >
                    </div>
                 </nb-card-body>
           </nb-card>
        </nb-card-body>
      </nb-card>
       
    </div>
  </div>
