nb-user.size-giant .user-picture{
    height:4rem;
    width:4rem;
}
   

   
  
.next{
width: 100%;
height:100%;
// background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJ5jVoRsznadSvwMzmIV3VlrZkjhQb8jEVJWN4kTqZXlF8CaIC&usqp=CAU');
 background-repeat: no-repeat;
 background-size: auto;
}

.btn-forget{
    width:96%;
    margin-left:15px;
    margin-bottom: 10px;
}
// ---------------------

.container {
  position: relative;
  width: 50%;

  margin-left: 78%;
  margin-top: 11%;

}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

// ==========================

.file-upload-button {
    background-color: #ff5252;
    border-radius: 25%;
    height: 3rem;
    overflow: hidden;
    position: relative;
    width: 3rem;
    cursor: pointer;

  &::after {
    content: '⇪';
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }

  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.file-info {
  color: #999;
  font-family: Lato;
  margin-left: 0.5rem;
}

