<body>
    <!-- -------------------------------------------------------- --> 
   
    <nb-card >
        <nb-card-body> 
            <!-- <nb-user  size="giant"
             name="John Doe"
             title="Engineer"
             [picture]="base64image"  
             onlyPicture
             >
    </nb-user> -->
            <nb-card class="next" hero
                style="width: 100%;height:200px;  background-repeat: no-repeat ;  background-color: aqua;">
                  

                <nb-card-body>

                </nb-card-body>
                <div class="container" >
                <!-- <img [src]="base64image" style="width: 100%;"  alt="Avatar" > -->
                <div class="card" style="width: 40%;height: 175px;">
                    <img src={{base64image}} alt="Avatar" style="width: 100%;height: inherit;">
                  </div>
               
                 <div class="middle">
                     
                        <!-- hbjkbjk -->
                        <button class="file-upload-button" style="cursor: pointer;">
                            <input type="file"   (change)="onSelectFile($event)"/>
                        </button>
                        
                  </div>

                  
</div>
        
            </nb-card>
            <!-- <img [src]="base64image" class="imageset" alt="Avatar" style="width:200px"> -->

            <!-- -------------------------------------------------------- -->
            <nb-card style="background-color: aliceblue;">
                <div class="row">
                    <div class="col">

                        <!-- -------------------------------------------------------- -->
                        <div class="row">
                            <div class="col-md">
                                <button nbButton class="btn-forget" outline status="info"
                                    (click)="changePassword()">Change Password</button>

                                <!-- <nb-card style="margin-left: 10px;">
                                <nb-card-body> -->
                                <!-- -------------------------------------------------------- -->
                                <nb-card status="success" style="background-color: whitesmoke; margin-left: 15px;">
                                    <nb-card-header>About</nb-card-header>

                                    <nb-card-body>
                                        <hr>
                                        <p>
                                            <nb-icon icon="shield-outline"></nb-icon> &nbsp;Software Engineer<br><br>
                                            <nb-icon icon="home"></nb-icon>&nbsp;JadFocus Solutions <br>
                                        </p>
                                        <p *ngIf="name.role=='1'">
                                            <nb-icon icon="star"></nb-icon>&nbsp;<b>
                                                <font color=red> Admin</font>
                                            </b>
                                        </p>
                                        <p *ngIf="name.role=='2'">
                                            <nb-icon icon="star"></nb-icon>&nbsp;<b>
                                                <font color=brown>Team Leader</font>
                                            </b>
                                        </p>
                                        <p *ngIf="name.role=='3'">
                                            <nb-icon icon="star"></nb-icon>&nbsp;<b>
                                                <font color=green>Employee</font>
                                            </b>
                                        </p>


                                        <hr>
                                        <h5>
                                         
                                                Contact <nb-icon style="cursor: pointer; margin-left: 70%;" icon="edit-outline" (click)="editEmail()">
                                                </nb-icon>
                                           
                                         </h5>
                                        <nb-icon icon="email"></nb-icon><b>&nbsp;&nbsp;{{name.email}}</b>

                                    </nb-card-body>
                                </nb-card>
                                <nb-card *ngIf="viewChangeEmail" style="margin-left: 12px;">
                                    <nb-card-header>Change Password</nb-card-header>
                                    <nb-card-body>
                                        <form [formGroup]="updateEmployee">

                                            <div class="form-group col">
                                               <label> Current Email :{{name.email}}</label>
                                                
                                                <input type="text" formControlName="email" nbInput fullWidth  placeholder="New Email Address"
                                                    class="form-control w3-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email. required</div>
                                                    <div *ngIf="f.email.errors.pattern">Enter Valid Email. </div>
                                                </div>
                                            
                                            
                                            </div>
                                            <div class="form-group col">
                                            
                                                <input type="text" formControlName="confirmEmail" nbInput fullWidth  
                                                    placeholder="Confirm Email Address" class="form-control w3-input"
                                                    [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }"
                                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.confirmEmail.errors.required">Email. required</div>
                                                    <div *ngIf="f.confirmEmail.errors.pattern">Enter valid Email</div>
                                                    <div *ngIf="f.confirmEmail.errors.mustMatch">Email must match</div>
                                                </div>
                                            </div>
                                            </form>
                                             <hr>
                                                <button type="button" style="margin-left: 46%;" class="btn btn-secondary" (click)="onReset()">Close</button>
                                            &nbsp;
                                                 
                                            
                                                <button type="button" class="btn btn-primary" (click)="updateEmail()">Save changes</button>
                                               
                                    </nb-card-body>
                                </nb-card>

                                <!-- </nb-card-body>
                            </nb-card> -->
                            </div>
                            <!-- -------------------------------------------------------- -->

                            <div class="col-lg" style="margin-right: 10px;">
                                <nb-card style="height:364px;">
                                    <nb-card-header>Project's Worked
                                        <b>  <nb-badge text="{{datum?.length}}" status="danger" style="margin-top:20px;margin-right: 30px;font-size: 15px;" ></nb-badge></b>
                                    </nb-card-header>
                                    <nb-card-body>
                                        <!-- <marquee width="100%" direction="up" height="100%" scrollamount="3" onMouseOver="this.stop()" onMouseOut="this.start()"> -->
                                             <nb-card *ngFor="let proj of datum;index as i" accent="info" style="width: 100%;margin-block-end: 8px;">
                                                <nb-card-body>
                                            <p style="text-align: center;text-transform: capitalize;font-family: 'Times New Roman', Times, serif;"><b>{{i+1}}. {{proj.projectname}}</b></p>
                                            <hr style="margin-bottom: 0px;margin-top: -7px;">
                                            </nb-card-body>
                                            </nb-card>     
                                                                                      
                                            <!-- </marquee>                                             -->
                                    </nb-card-body>
                                </nb-card>                           
                            </div>
                        </div>
                    </div>
                </div>



                <nb-card-body>
                    <br>
                    <h4 style="font-family:Diplomata;"> {{name.name|uppercase}}</h4>
                    <hr>
                </nb-card-body>
            </nb-card>
        </nb-card-body>
    </nb-card>
</body>
 