<div class="row">
  <div class="col-lg">
    <nb-card>
      <nb-card-header>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

            <li class="breadcrumb-item"><a routerLink="/pages/ticket/listTicket">Ticket list</a></li>
           <li class="breadcrumb-item active" aria-current="page">Add ticket</li>
          </ol>
        </nav>    
     
     <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;"> Create Ticket</h6>
      
      </nb-card-header>
      <nb-card-body>

        <form [formGroup]="add_ticket">
          
          <div class="form-group ">
            <nb-select placeholder="Type Of Issue" formControlName="typeofissue" style="width: 300px;" [ngClass]="{ 'is-invalid': submitted && f.typeofissue.errors }">
              <nb-option value="" disabled > ---  Type Of Issue --- </nb-option>
              <nb-option value="1" style="margin-left: 25%;">Improvement</nb-option>
              <nb-option value="2" style="margin-left: 30%;">Bug</nb-option>
              <nb-option value="3" style="margin-left: 30%;">Task</nb-option>
              <nb-option value="4" style="margin-left: 30%;">Issue</nb-option>

  
              <!-- <option value="Ms">Ms</option> -->
            </nb-select>
            <div *ngIf="submitted && f.typeofissue.errors">
              <div class="dropdown" *ngIf="f.typeofissue.errors.required">Select Issue Type</div>
            </div>
          </div>

         
          <!-- -------------------------------------------------- -->
           <div class="form-row">
            <p>purpose of the Ticket: <sup style="color:red;">*</sup></p>
          </div>

          <div class="form-group  ">

            <input type="text" formControlName="tname" nbInput fullWidth shape="rectangle" style="border-radius: 5px;"
              placeholder="Purpose of the Ticket"  
              [ngClass]="{ 'is-invalid': submitted && f.tname.errors }" />
            <div *ngIf="submitted && f.tname.errors"  >
              <div class="dropdown" *ngIf="f.tname.errors.required">project name is required</div>
            </div>
          </div>
          <div class="form-row">
            <p>Description: <sup style="color:red;">*</sup></p>
          </div>
          <!-- -------------------------------------------------- -->
          <div class="form-group   ">
            <textarea formControlName="description" nbInput fullWidth shape="semi-round" rows="5" cols="70" name="comment"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors">
              <div  class="dropdown" *ngIf="f.description.errors.required">Description Required for the Ticket</div>
            </div>
          </div>
          <!-- -------------------------------------------------- -->
           <!-- ----------------------Get project---------------------------- -->
          <div class="form-row">
            <p>Get Project: <sup style="color:red;">*</sup></p>
            </div>

          <div class="form-group">
            <nb-select (selectedChange)="projectEmployeeList()" (ngModelChange)="projectEmployeeList()"
              formControlName="project" style="width: 300px;"
              [ngClass]="{ 'is-invalid': submitted && f.project.errors }">
              <nb-option value="" disabled> --- none --- </nb-option>
              <nb-option *ngFor="let proj of getproject" [value]="proj._id">{{proj.projectname}}</nb-option>
              <!-- <option value="Ms">Ms</option> -->
            </nb-select>
            <div *ngIf="submitted && f.project.errors">
              <div class="dropdown" *ngIf="f.project.errors.required">select Team Leader </div>
            </div>
          </div>

           


          <!-- -------------------------------------------------- -->
          <!-- <div class="form-row">
            <p>Assigned to: <sup style="color:red;">*</sup></p>
          </div>
          <div class="form-row">

            <div class="form-group col-6">
              <nb-select formControlName="emp" style="width: 250px;"
                [ngClass]="{ 'is-invalid': submitted && f.emp.errors }">
                <nb-option value="" disabled> --- none --- </nb-option>
                 
                <nb-option *ngFor="let emp of  getemployee" [value]="emp._id">{{emp.name}}</nb-option>
               
              </nb-select>
              <div *ngIf="submitted && f.emp.errors">
                <div class="dropdown" *ngIf="f.emp.errors.required">select Team Leader </div>
              </div>
            </div>
          </div> -->
           
          <!-- -------------------------------------------------- -->
          <hr>
          <div class="text-center">
            <button nbButton hero status="success"  (click)="onsubmit()">Add Ticket</button>
            &nbsp;<button nbButton hero status="danger" (click)="onReset()">Cancel</button>
          </div>
          <sub><div style="color: red; font-size: 10px; text-align: end;">( * for Required Fields.)</div></sub>
          <hr>
          
          <!-- -------------------------------------------------- -->

        </form>
      </nb-card-body>
    </nb-card>
  </div>

</div>


<!-- 
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Default Inputs</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Project">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Nick">
          <input type="text" nbInput fullWidth placeholder="Last Name">
        </div>
        <input type="password" nbInput fullWidth placeholder="Password">
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
        <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
        <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
        <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
        <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
        <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">
        <nb-select selected="1">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      
      </nb-card-body>
    </nb-card>
  </div>

  </div> -->