<body>
    <!-- <button icon:checkmark-circle-outline></button> -->
    <!-- <nb-action class="control-item" icon="checkmark-circle-outline" (click)=""></nb-action> -->
  
    <nb-card>
      <nb-card-header>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a>Ticket_List</a></li> -->
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

            
              <li class="breadcrumb-item"><a routerLink="/pages/project/project-list">Project list</a></li>
            <!-- <li class="breadcrumb-item"><a routerLink="/pages/ticket/createdByYou">Tickets_created_By_You</a></li>
            <li class="breadcrumb-item"><a routerLink="/pages/ticket/assignedForYou">Tickets_assigned_For_You</a></li> -->
  
           <li class="breadcrumb-item active" aria-current="page">Project wish ticket details</li>  
          </ol>
        </nav>    
     <div class="row">
        <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;margin-top: 13px;margin-left: 20px;">Project Wish Ticket List</h6>
        <!-- <input class="form-control" type="text" style="width: 40%;margin-left: 28%;" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)"
        autocomplete="on" placeholder="&#61442; Click Here To Search by Ticket Name........">  <hr> -->
      </div>
      </nb-card-header>
  
      <nb-card-body>

        <nav aria-label="breadcrumb">   
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col">
                    Open : <b> <nb-badge text="{{openCount}}" status="primary" position="left" style="margin-left: 30%;font-size: 13px;" ></nb-badge></b> 
                  </div>
                  <div class="col">
                    Inprogress : <b> <nb-badge text="{{inprogressCount}}" status="warning" position="left" style="margin-left: 46%;font-size: 13px;" ></nb-badge></b> 
                  </div>
                  <div class="col">
                    Test :<b> <nb-badge text="{{testCount}}" status="info" position="left" style="margin-left: 25%;font-size: 13px;" ></nb-badge></b> 
                  </div>
                  <div class="col">
                    Closed :<b> <nb-badge text="{{closedCount}}" status="success" position="left" style="margin-left: 33%;font-size: 13px;" ></nb-badge></b> 
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <hr>
            <div  *ngIf="tickets?.length != 0&&paginationAccess==1" style="margin-left: 23%;">
              <ngx-pagination
              [page]="pageno"
              total="size"
               [totalPages]="totalPages"
                (mudouPagina)="mudouPagina($event)">
              </ngx-pagination>
      
            </div>
            <div  *ngIf="tickets?.length != 0&&paginationAccess==2" style="margin-left: 23%;">
              <ngx-pagination
              [page]="pageno"
              total="size"
               [totalPages]="totalPages"
                (mudouPagina)="mudouPagina1($event)">
              </ngx-pagination>
      
            </div>
          
          <div class="table-responsive">
  
            <table class="table table-striped">
  
              <thead>
                <tr style="text-align: center;" class="thead-dark"> 
                  <th>Si.No</th>
                  <th>Ticket Id</th>
                  <th>Ticket Name</th>
                  <th>Description</th>
                  <th>Date Of Creation</th>
                  <th>Created By</th>
                  <th>Assigned to</th>
                  <th>Project</th>
                  <th style="width: 110px;">
                    <form [formGroup]="sortStatus" style="margin-right: 8px;">
                    <nb-select hero style="width: 85%;" placeholder="All" formControlName="sort" (ngModelChange)="onChangeStatus()">
                      <nb-option value="all">All</nb-option>
                      <nb-option value="open">Open</nb-option>
                      <nb-option value="Inprogress">Inprogress</nb-option>
                      <nb-option value="Test">Test</nb-option>
                      <nb-option value="closed">Closed</nb-option>
  
                      <!-- <nb-option value="closed">Closed</nb-option> -->
  
                  </nb-select>
                </form></th>
                  <!-- <th>Change Status</th> -->
                </tr>
              </thead>
  
  
              <tbody style="text-align: center;">
                <tr *ngIf="tickets?.length == 0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 150px;"><b>
                      <nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found
                    </b> </td>
                    <td>        </td>
                    <td>        </td>
                    <td>        </td>
                    <td>        </td>

                </tr>
                <tr *ngFor="let tick of tickets;index as i">
                  <td >{{sino[i]}}</td>
                  <td><b>{{tick.id}}</b></td>
                  <td  style="cursor: pointer;color:#3366ff;text-transform: capitalize;" (click)="viewDetails(tick)"> {{tick.name}}</td>
                  <td>
                    <nb-action nbTooltip="View Ticket Description" nbTooltipPlacement="top" data-toggle="modal"
                      (click)="getDes(tick)" data-target="#exampleModalCenter">
                      &nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
                    </nb-action>
                  </td>
                  <td  >
                    {{tick.createdon|date}}</td>
                  <td  >{{tick.createdby.name}}</td>
                  <td  ><b>{{tick.assignto.name}}</b></td>
                  <td   >{{tick.projectname.projectname}}</td>
                  <td *ngIf="tick.status=='open'"><b>open</b></td>
                  <td *ngIf="tick.status=='Inprogress'" style="color: darkorange; text-shadow:black;"><b>In Progress</b>
                  </td>
                  <td *ngIf="tick.status=='Test'" style="color:green; text-shadow:black;"><b>Test</b></td>
                  <td *ngIf="tick.status=='closed'">
                    <span class="strikeout" style="color: brown; font-style: italic; text-decoration: line-through; "><b>Closed</b></span>
                  </td>
                
                  <!-- <td>{{tick.status}}</td> -->
  
  
                 
                </tr>
  
              </tbody>
  
            </table>
  
          </div>
  
        </nav>
  
  
      </nb-card-body>
    </nb-card>
  </body>
  
  <!-- ------------------------------------------view Descriton--------------------------------------------------- -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{getDescription}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>