 
  .title {
    padding-left: 0.5rem;
  }

  nb-card-header {
    margin-bottom: -1px;
  }

  nb-card-body {
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  ngx-stats-bar-animation-chart {
    position: relative;

    ::ng-deep .echart {
      height: 100%;
      width: 100%;
    }
  }

  .blu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration-line: underline;

  }