 <nb-card-body>
  <!-- <ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart> -->
  
  <div class="container">
    <div class="w3-panel w3-card  ">
    <br>
    <br>
   <b class="blu">User Details</b>
      <span> <p><b> <br>Name : {{display}}</b></p>
    <p><b> Email  :{{email}}</b></p>
    <p *ngIf="role=='1'"><b><font color=red>Role : Admin</font></b></p>
      <p *ngIf="role=='2'"><b><font color=brown>Role : Team Leader</font></b></p>
      <p *ngIf="role=='3'"><b><font color=green>Role : Employee</font></b></p>
      

    <!-- <p><b> Role   :{{role}}</b></p>-->
    </span> 
  </div>
</div>

</nb-card-body> 

