Comments:
<nb-icon style="cursor: pointer; margin-left: 80%;" icon="plus-outline" (click)="onComment()"></nb-icon>


<hr>

<!-- ----------------From for add comment----------------------- -->

<form *ngIf="commentStatus==true" [formGroup]="addComment">

  <div class="form-group col ">
    <textarea formControlName="comment" nbInput fullWidth shape="round" rows="2" cols="30"
      [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
    <div *ngIf="submitted && f.comment.errors">
      <div class="dropdown" *ngIf="f.comment.errors.required">Please Enter Comment</div>
    </div>
  </div>

  <button nbButton status="success" style="margin-left: 67%;" (click)="onsubmitComment()">Add</button>
  &nbsp;
  <button nbButton status="danger" (click)="onCancelComment()"> Close</button>
  <hr>
</form>



<!-- -------------------form for update-------------------- -->
<div >
<nb-card *ngFor="let comment of getComment; index as i">
  <nb-card-body >
    <nb-card-header>
      <nb-icon style="cursor: pointer;color: indianred;" (click)="editComments(comment)" icon="edit-2">
      </nb-icon>
      &nbsp;
      <nb-icon style="cursor: pointer;color: rgb(73, 19, 19);" (click)="onDeleteComment(comment)"
        icon="trash-2"></nb-icon>
      <h6 style="text-align: end;color: slateblue;"><sub>{{comment.username}}</sub></h6>
    </nb-card-header>

    <pre style="font-size: 14px;"> {{comment.comment}}</pre>

  </nb-card-body>
  
  <form *ngIf="editComment==comment._id" [formGroup]="addComment">
    <div class="form-group col ">
      <textarea formControlName="comment" nbInput fullWidth shape="round" rows="2" cols="30"
        [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" ></textarea>
      <div *ngIf="submitted && f.comment.errors">
        <div class="dropdown" *ngIf="f.comment.errors.required">Please Enter Comment</div>
      </div>
    </div>

    <button nbButton status="success" style="margin-left: 53%;" (click)="onsubmitUpadteComment( )">
      <nb-icon icon="plus-outline"></nb-icon>update
    </button>
    &nbsp;
    <button nbButton status="danger" (click)="onCancelComment()">Cancel<nb-icon icon="close-outline">
      </nb-icon></button>
    <hr>
  </form>

</nb-card>
</div>

