.file-upload-button {
    background-color: #746f6f;
    border-radius:25%;
    height: 43px;
    overflow: hidden;
    position: relative;
    width: 45px;
    margin-top: 8px;

  &::after {
    content: '⇪';
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.file-info {
  color: #999;
  font-family: Lato;
  margin-left: 0.5rem;
}

.dropdown{
  font-size: 11px;
  color: red;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
// .modal-footer {
//   padding: 2px 16px;
//   background-color:lightgray;
//   color: white;
// }



div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 20%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// ===============alert bar===========
.alert {
  padding: 11px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

// ==================
.file-upload-button1 {
  background-color: gray;
  // border-radius: 25%;
  height: 3rem;
  overflow: hidden;
  position: relative;
  width: 7rem;
  cursor: pointer;
  margin-left: 10px;

&::after {
  content: '⇪ Upload';
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

input[type="file"] {
      font-size: 100px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
  }
}

.file-info {
color: #999;
font-family: Lato;
margin-left: 0.5rem;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.text-block {
  position: absolute;
  // top: 10px;
  // left: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
 padding-left: 10px;
  padding-right: 10px;
}

