<nb-card>
  <nb-card-header>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">

        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>


        <li class="breadcrumb-item"><a routerLink="/pages/ticket/listTicket">Ticket list</a></li>
        <li class="breadcrumb-item" *ngIf="AccessForm==3"><a routerLink="/pages/ticket/createdByYou">Ticekt created by
            you</a></li>
        <li class="breadcrumb-item" *ngIf="AccessForm==2"><a routerLink="/pages/ticket/assignedForYou">Ticket assigned
            for you</a></li>

        <li class="breadcrumb-item active" aria-current="page">Ticket details</li>
      </ol>
    </nav>
    <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;"> Ticket Details
    </h6>

  </nb-card-header>
  <nb-card-body>
    <div class="row">
    <div style="width: 50%;">
   <p style="font-family:Aldrich;margin-bottom: 0px;margin-left: 24px;font-size: 23px;"> 
   <b>{{name|uppercase}}  </b> 
  </p>
  </div>
    <!-- ------------type of issue--------------------------- -->
    <div *ngIf="detailsIssueType=='1'" style="font-size: 20px;font-family: Aldrich;margin-left: 27%;">
      <nb-icon style="cursor: pointer;font-size: 24px;" icon="alert-circle"></nb-icon> <b>Improvement</b> <br>
    </div>
    <div *ngIf="detailsIssueType=='2'" style="font-size: 20px;font-family: Aldrich;margin-left: 38%;">
      <nb-icon style="cursor: pointer;font-size: 24px;" icon="cube"></nb-icon> <b>Bug</b> <br>
    </div>
    <div *ngIf="detailsIssueType=='3'" style="font-size: 20px;font-family: Aldrich;margin-left: 37%;">
      <nb-icon style="cursor: pointer;font-size: 1.5rem;" icon="plus-square"></nb-icon> <b>Task </b><br>
    </div>
    <div *ngIf="detailsIssueType=='4'"  style="font-size: 20px;font-family: Aldrich;margin-left: 36%;">
      <nb-icon style="cursor: pointer;font-size: 24px;" icon="slash-outline"></nb-icon> <b> Issue</b> <br>
    </div>
          <!-- --------------------------------------- -->    
</div>

    <hr style="margin-top: 8px;">
<div class="row">
    <div style="width: 50%;margin-top: 20px;">
       <div class="row">
        <label style="
       margin-left: 46px;
        margin-top: 10px;
        font-size: 17px;
        margin-bottom: 17px;"> 
         <b> Status&nbsp; &nbsp;:</b> </label>
       
        <form [formGroup]="updateStatus" style="margin-left: 10px;">
          <nb-select [disabled]="AccessForm==1||AccessForm==3" formControlName="changeStatus" status="success"
            style="width: 230px;" nbTooltip="{{detailsStatus}}" nbTooltipPlacement="top" placeholder={{detailsStatus}} (ngModelChange)="UpdateStatus()">
            <nb-option value="open">To Do</nb-option>
            <nb-option value="Inprogress">Inprogress</nb-option>
            <nb-option value="Test">Test</nb-option>
          </nb-select>
        </form>           
 
      <!-- ----------------priority----------------------- -->
        <div style="margin-left: 25px;">
          <div class="row">
          <label style="
          margin-left: 34px;
          margin-top: 8px;
          font-size: 17px;">
          <b> Priority : &nbsp;</b> </label>
          <form [formGroup]="updatePri">
            <nb-select [disabled]="AccessForm==1||AccessForm==3||AccessForm==4" status="primary" formControlName="changePriority"nbTooltip="{{priority}}" nbTooltipPlacement="bottom" placeholder="{{priority}}"
              style="width: 230px;" (ngModelChange)="updatePriority()">
              <!-- <nb-option value="" disabled >   --- Priority ---</nb-option> -->
              <nb-option value="1" style="margin-left: 10%;">
                <nb-icon style="cursor: pointer;color: darkred;" icon="corner-left-up-outline"></nb-icon>
                &nbsp;
                Higher
              </nb-option>
              <nb-option value="2" style="margin-left: 10%;">
                <nb-icon style="cursor: pointer;color: red;" icon="corner-right-up-outline"></nb-icon>
                &nbsp;
                High
              </nb-option>
              <nb-option value="3" style="margin-left: 9%;">
                <nb-icon style="cursor: pointer;color: lightseagreen;" icon="corner-left-down-outline"></nb-icon>
                &nbsp;
                Medium
              </nb-option>
              <nb-option value="4" style="margin-left: 11%;">
                <nb-icon style="cursor: pointer;color: green" icon="corner-right-down-outline"></nb-icon>
                &nbsp;
                Low
              </nb-option>

              <!-- <option value="Ms">Ms</option> -->
            </nb-select>
          </form>
          </div>
        </div>
      </div>
    </div>

       
      <!-- ------------------right Side of head-------------------- -->
<div class="col">
   <div class="row">
    <label style="margin-top:13px;"><b style="margin-left: 0px;">Assignee : </b></label> 
    <form [formGroup]="changeAssign">
              <nb-select [disabled]="AccessForm==1 || AccessForm==3||teamleader==false||AccessForm==4" nbTooltip="{{assignto}}" nbTooltipPlacement="top" status="primary" formControlName="UpdateEmployee"
                style="width: 300px;margin-top: 5px;margin-left: 8px;margin-bottom: 3px;color:black" placeholder="{{assignto}}"
                (ngModelChange)="Updateemployee()">
                <nb-option value="" disabled>{{assignto}}</nb-option>

                <nb-option *ngFor="let emp of  getemployee" [value]="emp._id">{{emp.name}}</nb-option>

              </nb-select>
            </form>
            </div>
            <div class="row">
              <label style="margin-top: 13px;"><b>Reporter : </b></label>
             <input style="width: 300px;margin-top: 5px;margin-left: 8px;margin-bottom: 3px; color:black" [disabled]="AccessForm==3||AccessForm==2||AccessForm==1||AccessForm==4" nbInput status="primary" value="{{reporter |uppercase}}">
              <hr style="margin-top: -5px;"> 
            </div>
              <!-- =------------------Due date--------------------- -->
          <div class="row">
              <label style="margin-top:13px;"><b>Due Date : </b></label>
  
              <input  style="width: 200px;margin-top: 5px;margin-left: 8px;margin-bottom: 3px;color:black" nbInput status="primary" type="text" [disabled]="AccessForm==1||detailsStatus=='closed'"  class="form-control" placeholder="{{image|date}}"
                #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">
  
              <button style="width: 84px;margin-top: 5px;margin-left: 8px;margin-bottom: 3px;height: 37px;" nbButton *ngIf="teamleader||AccessForm==3" [disabled]="AccessForm==1||detailsStatus=='closed'" fullWidth status="info"  
                (click)="Save(myDateValue)">Update</button>
  
              </div>
           
       </div>
    </div>
          <hr>
         <!-- -----------------description card---------------------- -->
         <nb-card style="height: fit-content; background-color: rgb(230, 248, 235);margin-top: 10px;">
          <nb-card-body>
            <h6>Description:<nb-icon *ngIf="AccessForm==3" style="cursor: pointer;color: indianred; margin-left: 85%;" nbTooltip="Update Description" nbTooltipPlacement="top" (click)="triggerUpdateDescription()" icon="edit-2">
            </nb-icon>
            </h6>
            <form *ngIf="updateDes==true" [formGroup]="addComment">

              <div class="form-group col ">
                <textarea formControlName="comment" nbInput fullWidth shape="rectangle" rows="8" cols="60" value="  {{description}}"
                  [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
                <div *ngIf="submitted && f.comment.errors">
                  <div class="dropdown" *ngIf="f.comment.errors.required">Please Enter Description</div>
                </div>
              </div>

              <button nbButton status="success" style="margin-left: 77%;" (click)="onsubmitDescription()">Update</button>
              &nbsp;
              <button nbButton status="danger" (click)="onCancelDescription()"> Close</button>
              <hr>
            </form>

            <hr>
           <pre *ngIf="updateDes==false"> {{description}}</pre>
          </nb-card-body>
        </nb-card>
        <hr>
        <!-- -----------------description card end---------------------- -->

     <!-- ---------------Image------------------------ -->
     <nb-card>
       <nb-card-body>
            <div disabled="AccessForm==1">
              <button nbButton hero status="danger" shape="circle" class="file-upload-button1"nbTooltip="Add Attachment" nbTooltipPlacement="top" style="cursor: pointer;">
                <input type="file"   (change)="onSelectFile($event)"/>
              </button>
              <!-- <button class="btn btn-primary" > -->
                <nb-icon *ngIf="imageCount1 !=0" style="cursor: pointer; margin-left: 82%;color:red; font-size: 24px;" nbTooltip="Delete Image" nbTooltipPlacement="top" data-toggle="modal"
                 data-target="#exampleModalCenter1" icon="trash-2-outline"></nb-icon> 
                <!-- </button> -->
            </div>

            <hr>
            <ng-image-slider *ngIf="imageCount1 != 0 " [images]="imageObject"  #nav></ng-image-slider>
            <!-- <ng-image-slider *ngIf="accessimageview" [images]="imageObject"  #nav></ng-image-slider> -->

       </nb-card-body>
     </nb-card>
         <hr>
           
  <!-- -----------------Comment  card start---------------------- -->
  <!-- <ngx-ticket-comment></ngx-ticket-comment> -->

  <label><b>Comments</b> </label>

  <b> <nb-icon style="cursor: pointer; margin-left: 85%; font-size: 24px;" icon="plus-outline" (click)="onComment()"></nb-icon></b>


   <hr style="margin-top:0px">

   <!-- ----------------From for add comment----------------------- -->

   <form *ngIf="commentStatus==true" [formGroup]="addComment">

     <div class="form-group col ">
       <textarea formControlName="comment" nbInput fullWidth shape="round" rows="2" cols="30"
         [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
       <div *ngIf="submitted && f.comment.errors">
         <div class="dropdown" *ngIf="f.comment.errors.required">Please Enter Comment</div>
       </div>
     </div>

     <button nbButton status="success" style="margin-left: 80%;" (click)="onsubmitComment()">Add</button>
     &nbsp;
     <button nbButton status="danger" (click)="onCancelComment()"> Close</button>
     <hr>
   </form>



   <!-- -------------------form for update-------------------- -->
<div *ngFor="let comment of getComment; index as i">
<nb-user   
size="medium" 
picture={{comment.userprofile}}
name={{comment.username}} 
  color="cadetblue" >
 </nb-user>
 <pre style="font-size: 14px; margin-bottom: 0px;font-size: 18px;margin-left: 40px;font-family: 'Times New Roman', Times, serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment}}</pre>
<br>
<div *ngIf="comment.userid==commentuser" style="margin-bottom: 10px;">
<a style="cursor: pointer; color: gray;margin-left: 39px;" (click)="editComments(comment)">Edit .</a>
<a style="cursor: pointer; color: gray;" (click)="onDeleteComment(comment)"> Delete</a>
<br>
</div>
<!-- <br> -->
 
      <form *ngIf="editComment==comment._id" [formGroup]="addComment">
       <div class="form-group col ">
         <textarea formControlName="comment" nbInput fullWidth shape="round" rows="5" cols="30"
           [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" value="{{comment.comment}}"></textarea>
         <div *ngIf="submitted && f.comment.errors">
           <div class="dropdown" *ngIf="f.comment.errors.required">Please Enter Comment</div>
         </div>
       </div>

       <button nbButton status="success" style="margin-left: 68%;" (click)="onsubmitUpadteComment( )">
         <nb-icon icon="plus-outline"></nb-icon>update
       </button>
       &nbsp;
       <button nbButton status="danger" (click)="onCancelComment()">Cancel<nb-icon icon="close-outline">
         </nb-icon></button>
       <hr>
     </form>

  </div>

        <hr>
         
      </nb-card-body>
    </nb-card>
 
   <!-- ------------------------------------------image delete--------------------------------------------------- -->
<div *ngIf="imageStrings?.length>0" data-backdrop="false">
  <div  class="modal fade"  id="exampleModalCenter1" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Delete Image Portal</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseDeleteModal()">   
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <div class="row">
          <div class="col"> 
            <div class="row">
            
             
                <nb-card style="
                width: 23%;
                height: 166px;
                margin-left: 13px;
                position: relative;
                        text-align: center;
                        color: white;
                        font-family: Arial;"   *ngFor="let img of imageStrings">
                  <!-- <div class="card" style="width: 100%;height: 100%;"> -->
                     <img [src]="img.link" alt="Avatar" style="
                    width: 100%;
                    height: 100%; ">
   <div class="text-block">
    Created By :{{img.username}} 
   </div>
                      <div class="bottom-right">
                        <button nbButton size="small" (click)="deleteImage(img)" shape="rectangle" status="primary"> <nb-icon style="cursor: pointer;" icon="trash-2-outline"></nb-icon></button></div>
                    <!-- </div> -->
               </nb-card>
                </div>  
           </div>
        </div>
        
    </div>
    <div class="modal-footer " style="color: lightgray;">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseDeleteModal()">Close</button>
      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
 
 
 