 
 
 
<body style="background-color:white">
   

 <div class="w3-container1">
  <div class="logo">
    <img class="imagesty" src="./assets/images/pmss.png">
  </div>
  <!-- <img style="margin-left: 42%;" src="./assets/images/save.png">  -->
 
   
<div class="w3-card-4" style="width:100%;margin-top: 20px;">
     <div class="w3-container">
        
       <!-- <hr style="margin-top: 0px;"> -->
       <form class="sty" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()"> 
         <br>
       
        <h3 class="head">Login</h3>
    
         <div class="form-group">
        <label for="email" >Email address </label>
        <input type="text" formControlName="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,4}$"/>
        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
            <div *ngIf="fval.email.errors.required">Email is required</div>
            <!-- <div *ngIf="fval.email.errors.email">Enter valid email address</div> -->
            <div *ngIf="fval.email.errors.pattern">Enter Valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password </label> <span style="color: rgb(17, 17, 131);margin-left: 62%;cursor: pointer;" (click)="forgotPassword()"><sub>forget password ?</sub></span>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter password here" minlength="4"/> 
        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
            <div *ngIf="fval.password.errors.required">Password is required</div>
            <div *ngIf="fval.password.errors.minlength">Minlength is Required</div>
        </div>
    </div>
    <div class="form-group text-center">
        <button nb-button [disabled]="loading" class="btn btn-primary"> 
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" style="margin-left: 39%;"></span>
            Login
        </button>
        <br>

      
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
    </div>
  
 </form>
 <hr>
   </div>
 </div>
 </div>
 
  
 <!-- ================================================= -->
    
             


<!-- ================================================= -->
 