<body>
  <nb-card>
    <nb-card-body>

      <nav aria-label="breadcrumb">
        <div class="container">
           <div class="table-responsive">

            <table class="table table-striped " style="border:inset">
              <thead class="thead-dark">
                <tr style="text-align: center;">
                  <th> Si.No</th>
                  <th>Project Name</th>
                  <!-- <th>Description</th> -->
                  <th>Date Of Creation</th>
                  <th>Team Leader</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <tr *ngIf="projects?.length == 0">
                  <td></td>
                 <td></td>
                 <td></td>
                  <td></td>
               <td style="width: 150px;"><b><nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found </b> </td>
                </tr>
                <tr *ngFor="let pro of projects;index as i">
                  <td style="width: 90px;" >{{i+1}}</td>
                  <td style="width: 150px;"> {{pro.projectname}}</td>
                  <!-- <td style="width: 80px;">
                    <nb-action nbTooltip="View Project Description" nbTooltipPlacement="top" data-toggle="modal"
                      (click)="getDes(pro)" data-target="#exampleModalCenter">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer; text-align: center;" icon="eye"></nb-icon>
                        
                    </nb-action>
                  </td> -->
                  <td style="width: 150px;">{{pro.createddate|date}}</td>
                  <!-- <td></td> -->
                  <td style="width: 110px;">{{pro.teamlead.name}}</td>
                   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nav>



    </nb-card-body>
  </nb-card>

</body>



<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"><p>Project</p>
        <h5 class="modal-title" id="exampleModalLongTitle"> {{nameDes}}'s Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>  
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
 