 

.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
  }
  
  /* -----------------------------Button-----------------------/ */
  .btn-success{
    align-self: flex-end;
    box-shadow: 1px 2px 5px #000000;   
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* ---------------Auto - Count Si.No---------------------- */
    
  
  body{
    /* Set "my-sec-counter" to 0 */
   counter-reset: my-sec-counter;
  }
  
  #count::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content:  counter(my-sec-counter) ;
  }
  // /* ---------------------------------------------- *
  p{
    margin-top: 2px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    align-content: flex-end;
  
  }