//:host{display:block;width:100%;max-width:35rem}:host ::ng-deep form{width:100%}:host ::ng-deep
img{
    width: 150px;
    height:65px;
    }

.logo{
    text-align: right;
    max-width: 75%;
    width:100%;
    margin-bottom:-1%;
}
  .w3-container1{
      box-shadow: black;
     padding-top:1%;
     
    //width: 100%;
      
   
     
      }

  .w3-container{
      background-color: rgb(245, 247, 250);
      //background-color:white;
//      // padding:  5px 16px;
margin-top:12%;
 margin-left: 24%;
margin-right: 20%;
// margin: 0 auto;
width:50%;
       scroll-padding-left: 30;
  }

  .sty{
      margin-left: 90px;
      margin-right: 90px;
  }

  .head{
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 2px;
    //text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  }
//   ======

  