 
 
 
<body style="background-color:white;height:100%">
   
            
<div class="w3-container1"> 
   <h5 style="margin-left: 10px; cursor: pointer;" (click)="onReset()"> Back</h5>   <hr>
      <div class="w3-card-4" style="width:100%;margin: 7%;margin-left: 10px;">
        <div class="w3-container">
         
          <h3 class="head"> Change Password</h3>
          <hr style="margin-top: 0px;">
          <form class="sty" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" >
            <div class="form-group">
           <!-- <label for="email" >New Password </label> -->
           <input type="password" formControlName="newPassword"  class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.newPassword.errors }" placeholder="New password" minlength="4"/>
           <div *ngIf="submitted && fval.newPassword.errors" class="invalid-feedback">
               <div *ngIf="fval.newPassword.errors.required">password is required</div>
               <!-- <div *ngIf="fval.email.errors.email">Enter valid email address</div> -->
               <div *ngIf="fval.newPassword.errors.minlength">Minlength is Required</div>
                
           </div>
       </div>

       <div class="form-group">
           <!-- <label for="password">Confirm Password </label> -->
           <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Confirm Password" minlength="4"/>
           <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
               <div *ngIf="fval.password.errors.required">Password is required</div>
               <div *ngIf="fval.password.errors.minlength">Minlength is Required</div>
               <div *ngIf="fval.password.errors.mustMatch">Passwords must match</div>
           </div>
       </div>
    <hr>

       <div class="form-group text-center">
           <button nbButton hero status="success" [disabled]="loading"   >
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" style="margin-left: 39%;" ></span>
               Change 
           </button>

           <button nbButton hero status="danger"  style="margin-left: 4px;"   (click)="onReset()"> Cancel
               </button>

           <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
       </div>
    </form>

    
     
     <hr>
      </div>
    </div>
    </div>
    
     
    <!-- ================================================= -->
       
                
   
   
   <!-- ================================================= -->
    