<body>
  <nb-card>
    <nb-card-header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a routerLink="">Employee_list</a></li> -->
         <li class="breadcrumb-item active" aria-current="page">Employee list</li>
        </ol>
      </nav>
      <div class="row">
      <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;margin-top:11px; margin-left: 16px;">Employee's List</h6>
      <button style="margin-left: 63%;" class="btn  btn-success" (click)="onClick()" *ngIf="users">Add Employee</button>
    
    </div>

    </nb-card-header>


    <nb-card-body>

      <nav aria-label="breadcrumb">
        
        <div class="container">
           <input class="form-control" type="text" name="search" [(ngModel)]="searchName" autocomplete="off" (keyup)="Search(searchName)"
            placeholder="&#61442;  Touch Here To Search........">
         <br>
          <!-- <button class="btn  btn-success" (click)="reload()" *ngIf="users">Add Reload</button> -->
        
          <!-- <pagination-controls (pageChange)="p = $event" class="float-centerß"></pagination-controls> -->
          <div *ngIf="employees?.length!= 0 && accessPagination==1" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina($event)">
            </ngx-pagination>
    
          </div>
       
          <div *ngIf="employees?.length!= 0 && accessPagination==2" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina2($event)">
            </ngx-pagination>
    
          </div>
       
          <div class="table-responsive">

            <table class="table " style="border: ridge;">
              <thead>
                <tr class="thead-dark">
                  <th style="text-align: center;">Si.No</th>
                  <th>Name</th>
                 
                  <th>Email</th>
                  <th>Role</th>
                </tr>
              <tbody>
                <!-- <tr *ngIf="employees.length == 0">
                  <td></td>
                  <td></td>
                  <td style="width: 150px;"><b>
                      <nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found
                    </b> </td>
                    <td></td>
                </tr> -->

                <!-- <div *ngVar="45 as variable">
                  <span>{{variable | json}}</span>
              </div>
              
              
              <div *ngVar="{ x: 4 } as variable">
                  <span>{{variable | json}}</span>
              </div> -->
                  <tr *ngFor="let emp of employees;index as i">
                  <td  style="text-align: center;">{{sino[i]}} </td>
                  <td > {{emp.name}}</td>
                  <td >{{emp.email}}</td>
                  <td *ngIf="emp.role=='1'">
                    <font color=red>Admin</font>
                  </td>
                  <td *ngIf="emp.role=='2'">
                    <font color=brown>Team Leader</font>
                  </td>
                  <td *ngIf="emp.role=='3'">
                    <font color=green>Employee</font>
                  </td>
                
                 
                   </tr>

                <!-- <tr *ngFor="let emp of employees;index as i">
                  <td *ngIf="emp.role=='2'" style="text-align: center;"  > {{sino[0]}}</td>
                  <td *ngIf="emp.role=='2'"> {{emp.name}}</td>
                  
                  <td *ngIf="emp.role=='2'">{{emp.email}}</td>
                   <td *ngIf="emp.role=='2'">
                    <font color=brown>Team Leader</font>

                  </td>
                  
                   
                </tr>
                <tr *ngFor="let emp of employees index as i">
                  <td *ngIf="emp.role=='3'" style="text-align: center;" >{{sino[0]}} </td>
                  <td *ngIf="emp.role=='3'"> {{emp.name}}</td>
                   
                   
                  <td *ngIf="emp.role=='3'">{{emp.email}}</td>
                  <td *ngIf="emp.role=='3'">
                    <font color=green>Employee</font>
                  </td>
                </tr> -->


              </tbody>

            </table>
          </div>
        </div>
      </nav>


    </nb-card-body>
  </nb-card>
</body>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="modal fade" data-backdrop="false" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nb-card>
          <nb-card-body>
            <form [formGroup]="updateEmployee">
 
              <div class="form-group col">
                Current Email :{{currentEmail}}
                <input type="text" formControlName="email" nbInput fullWidth shape="semi-round"
                  placeholder="{{currentEmail}}" class="form-control w3-input"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email. required</div>
                  <div *ngIf="f.email.errors.pattern">Enter Valid Email. </div>
                </div>


              </div>
              <div class="form-group col">

                <input type="text" formControlName="confirmEmail" nbInput fullWidth shape="semi-round"
                  placeholder="Confirm Email Address" class="form-control w3-input"
                  [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmEmail.errors.required">Email. required</div>
                  <div *ngIf="f.confirmEmail.errors.pattern">Enter valid Email</div>
                  <div *ngIf="f.confirmEmail.errors.mustMatch">Email must match</div>
                </div>
              </div>
            </form>

          </nb-card-body>
        </nb-card>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <!-- <span *ngIf="submitted" >  -->

        <button type="button" class="btn btn-primary" (click)="updateEmail()">Save changes</button>
        <!-- </span> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>