<body>
  <nb-card>
    <nb-card-header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/listTicket">Ticket list</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/addticket">Add ticket</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/createdByYou">Tickets created by you</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/assignedForYou">Tickets assigned for you</a></li>

         <li class="breadcrumb-item active" aria-current="page">Closed ticket</li>
        </ol>
      </nav>    
      <div class="row">
      <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;margin-top: 13px;margin-left: 20px;"> Closed Tickets List</h6>
      <input class="form-control" type="text" style="width: 40%;margin-left: 34%;" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)"
      autocomplete="on" placeholder="&#61442; Click Here To Search by Ticket name........">  <hr>
    
       </div>

    </nb-card-header>

    <nb-card-body>

      <nav aria-label="breadcrumb">
        
      
         <div>
          <nb-radio status="success"   (click)="closedForYou()" *ngIf="!users"> Assigned For You</nb-radio>
          <nb-radio  status="success" (click)="closedByYou()" [value]="true" checked=true>Created BY You</nb-radio>
        </div>
         <hr>


        <div class="table-responsive">

          <table class="table">

            <thead>
              <tr style="text-align: center;" class="thead-dark">
                <th>Si.No</th>
                <th>Ticket Id</th>
                <th>Ticket Name</th>
                <th>Description</th>
                <th>Date Of Creation</th>
                <th>Created By</th>
                <th>Assigned to</th>
                <th>Project</th>
                <th>Status</th>
              </tr>
            </thead>


            <tbody style="text-align: center;">
              <tr *ngIf="count1 ==0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width: 150px;"><b>
                    <nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found
                  </b> </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

              </tr>
                  <tr *ngFor="let tick of closedTicket; index as j">
                   
                <td *ngIf="tick.status=='closed'" id="count"></td>
                <td *ngIf="tick.status=='closed'">{{tick.id}}</td>
                <td *ngIf="tick.status=='closed'" style="cursor: pointer;color:#3366ff;text-transform: capitalize;" (click)="viewDetails(tick)"> {{tick.name}}</td>
                <td *ngIf="tick.status=='closed'">
                  <nb-action nbTooltip="View Ticket Description" nbTooltipPlacement="top" data-toggle="modal"
                    (click)="getDes(tick)" data-target="#exampleModalCenter">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
                    <!-- <ion-icon name="eye-outline"></ion-icon> -->
                  </nb-action>
                </td>
                <td *ngIf="tick.status=='closed'">{{tick.createdon|date}}</td>
                <td *ngIf="tick.status=='closed'">{{tick.createdby.name}}</td>
                <td *ngIf="tick.status=='closed'">{{tick.assignto.name}}</td>
                <td *ngIf="tick.status=='closed'">{{tick.projectname.projectname}}</td>
                <!-- <td *ngIf="tick.status=='open'">open</td> -->
                <td *ngIf="tick.status=='closed'">
                  <p class="strikeout" style="font-style: italic;">Closed</p>
                </td>

                <!-- <td>{{tick.status}}</td> -->
              </tr>

            </tbody>
                      </table>
        </div>
      </nav>
    </nb-card-body>
  </nb-card>
</body>


<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>