<!-- <nb-flip-card [showToggleButton]="false" [flipped]="flipped"> -->
  
  <nb-card-front>
    <nb-card size="tiny">
      <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()" style="align-items: flex-end;"></nb-icon> -->
      <ngx-stats-card-front></ngx-stats-card-front>
      
    </nb-card>
  </nb-card-front>
  <!-- <nb-card-back>
    <nb-card size="tiny">
      <ngx-stats-card-back></ngx-stats-card-back>
      <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-flip-card> -->
