<nb-card *ngIf="count" style="background-color: antiquewhite;">

    <nb-card-body>
        Hurry UP 
   <b>  <nb-badge text="{{count}}" status="danger" style="margin-right: 20px;margin-top: 20px;" ></nb-badge></b>

        <hr>
        <div class="row">
          <div class="col">
            <div class="row" >
          
      <span *ngFor="let duedate of details" >
        <div *ngIf="duedate.status!='closed'">
          <div class="col-md" style="  padding: 0 5px 5px;float: right;">
            <div class="card bg-danger text-white" style="width: 200px;" >
              <!-- <b>  <nb-badge text="{{count}}" status="danger" style="margin-right: 20px;margin-top: 20px;" ></nb-badge></b> -->
              <div class="card-body"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; " >
                  
              
              <div *ngIf="duedate.issuetype=='1'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="alert-circle"></nb-icon> <b style="text-transform: capitalize;"> {{duedate.status}}</b></div> 
                      <div *ngIf="duedate.issuetype=='2'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="cube"></nb-icon><b style="text-transform: capitalize;"> {{duedate.status}}</b></div> 
                      <div *ngIf="duedate.issuetype=='3'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="plus-square"></nb-icon><b style="text-transform: capitalize;"> {{duedate.status}}</b> </div> 
                      <div *ngIf="duedate.issuetype=='4'" style="font-size: 20px;"> <nb-icon style="cursor: pointer;" icon="slash-outline"></nb-icon><b style="text-transform: capitalize;"> {{duedate.status}}</b></div> 
                   <!-- <b>  <nb-badge text={{i+1}} hero status="success" style="margin-top:20px;margin-right: 20px;" ></nb-badge></b> -->
                  <hr>
                  <b (click)="getTicketDetails(duedate)" style="cursor: pointer;text-transform: capitalize;"><b>{{duedate.name}} {{duedate.duedate|date}} </b></b>
              </div>
            </div>
          </div>
            </div>
           
</span>
</div>

</div>
        </div>


    </nb-card-body>
  </nb-card>
  