<div class="header-container">
  <div class="logo-container" >
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <nb-action class="control-item"> </nb-action>
    <a class="logo" href="#" (click)="navigateHome()" style="font-size: 30px;font-family: monospace;">PMS<sub>system</sub></a>
  </div>
</div>
  

<!-- <div class="socials">

    <nb-actions size="small" class="control-item">
      {{display}}
      <nb-action class="control-item"></nb-action>
      
      <nb-action class="control-item">
        <nb-user style="width: 30%" 
                  size="medium" 
                    name={{display}} 
                      title="Engineer"
                      (click)="userProfile()"
                      >

        </nb-user>
      
        

      </nb-action>
      <nb-action class="control-item" icon="power-outline" (click)="logout()"></nb-action>
    </nb-actions>
  </div> -->

 

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      
    </nb-action>
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <nb-action class="control-item">
 <nb-user  
    size="medium" 
      name={{display}} 
        title="Engineer"
        (click)="userProfile()"
        >

</nb-user>
    </nb-action>
<nb-action class="control-item" icon="power-outline" (click)="logout()"></nb-action>
    
  </nb-actions>
</div>
