  
  
  <div class="row">
    <div class="col-lg">
      <nb-card>
        <nb-card-header>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

              <li class="breadcrumb-item"><a routerLink="/pages/project/project-list">Project list</a></li>
             <li class="breadcrumb-item active" aria-current="page">Update project</li>
            </ol>
          </nav>
         
          <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;">Update Project</h6>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="Update_Project">
            <div class="form-row ">
              <p>Current Project Name:{{currentProject}}</p>
            </div>
            <!-- <div class="form-row">  -->
            <div class="form-group  ">
              <input type="text" formControlName="projectName"   nbInput fullWidth value="{{currentProject}}"
                [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }" />
              <div *ngIf="submitted && f.projectName.errors"  >
                <div *ngIf="f.projectName.errors.required">Project Name is required</div>
              </div>
            </div>
            <!-- </div> -->
  
            <!-- ---------------------------------------------------- -->
            <div class="form-row">
              <p>TeamLeader:&emsp;&emsp;&nbsp;</p>
            </div>
            <!-- <div class="nb-form-row"> -->
            <!-- <div class="form-row"> -->
              <div class="form-group  ">
                <nb-select placeholder="{{currenttl}}" formControlName="tlead" [(selected)]="selectedTl" (ngModelChange)="gettl()"  
                  style="width: 250px;">
                  <nb-option value=""disabled>{{currenttl}}</nb-option>
                  <nb-option *ngFor="let tl of getLead" [value]="tl._id">{{tl.name}}</nb-option>
                </nb-select>
              </div>
            <!-- </div> -->
  
            <!-- </div> -->
            <!-- ---------------------------------------------------- -->
            <!-- <div class="form-row">
              <p>Existing Project Members:</p>
            </div>
  
            <div class="form-row">
              <div class="from-group col">
                <nb-select multiple placeholder="Select Showcase" fullWidth style="width: 600px;" formControlName="emp1" [(selected)]="selectedItem"   [ngClass]="{ 'is-invalid': submitted && f.emp.errors }">
                  <nb-option value="" disabled>   ---  none ---</nb-option>
                  <nb-option  *ngFor="let emp1 of currentempdis" [value]="emp1._id">{{emp1.name}}</nb-option>
                </nb-select>
            
                <div *ngIf="submitted && f.emp.errors"  >
                  <div class="dropdown"  *ngIf="f.emp.errors.required">Select Employees for Project  </div>
              </div>
  
                
                </div>
            </div>  -->
            <!-- ----------------------------------------------------->
            <div class="form-row">
              <p>New Project Members:</p>
            </div>
  
            <!-- <div class="form-row"> -->
              <div class="from-group  ">
                <nb-select multiple placeholder="Select Showcase" fullWidth style="width: 600px;" (ngModelChange)="getemp()" formControlName="emp" [(selected)]="selectedItem"   [ngClass]="{ 'is-invalid': submitted && f.emp.errors }">
                  <nb-option value="" disabled>   ---  none ---</nb-option>
                  <nb-option-group title="Already in Project">
                    <nb-option  *ngFor="let emp1 of currentempdis" [value]="emp1._id">{{emp1.name}}</nb-option>
                  </nb-option-group>
                  <nb-option-group title="New in Project">
                     <div *ngFor="let emp1 of currentempdis"></div>
                  <nb-option *ngFor="let newEmp of getemployee" [value]="newEmp._id" ><b>{{newEmp.name}}</b></nb-option>
                
                </nb-option-group>
                </nb-select>
            
                <div *ngIf="submitted && f.emp.errors"  >
                  <div class="dropdown"  *ngIf="f.emp.errors.required">Select Employees for Project  </div>
              </div>
  
                
                </div>
            <!-- </div> -->
      
      <!-- ---------------------------------------------------- -->
            <div class="form-row">
              <p>Description:</p>
            </div>
            <!-- <div class="form-row"> -->
            <div class="form-group   ">
              <textarea formControlName="description" nbInput fullWidth
                rows="5" cols="70" name="comment" value="{{getDescription}}"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.required">Description</div>
              </div>
            </div>
            <!-- </div> -->
            <!-- ----------------------------------------------------- -->
        <div class="text-center">
            <button nbButton hero status="primary" (click)="onsubmits()">Update Project</button>
            &nbsp;
            <button nbButton hero status="danger" type="reset" (click)="onReset()">Cancel</button>
        </div>
        <hr>
        <div style="color: red; font-size: 10px; text-align: end;">( * for Required Fields.)</div>
        </form>
</nb-card-body>
</nb-card>
        </div>
      
        </div>
      

              