 /* ---------------Auto - Count Si.No---------------------- */
  

 body{
    /* Set "my-sec-counter" to 0 */
   counter-reset: my-sec-counter;
  }
  
  #count::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content:  counter(my-sec-counter) ;
  }
  /* ---------------------------------------------- */

.table{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:14px;
}
.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

 
.form-control::placeholder  {
  font-family: FontAwesome;
}
