<body>
  <nb-card>
    <nb-card-header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

          <li class="breadcrumb-item"><a routerLink="/pages/ticket/listTicket">Ticket list</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/addticket">Add ticket</a></li>
          <li class="breadcrumb-item"><a routerLink="/pages/ticket/createdByYou">Tickets created by you</a></li>

         <li class="breadcrumb-item active" aria-current="page">Tickets assigned for you</li>
        </ol>
      </nav>  
      <div class="row">
      <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black; margin-top: 13px;margin-left: 20px;">Ticket's For You</h6>
      <i class="ion-plus-round"></i>
      <!-- <input class="form-control" type="text" style="width: 40%;margin-left: 37%;" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)"
      autocomplete="on" placeholder="&#61442; Click Here To Search by Ticket name........"> -->
      <hr>
    </div>  
    </nb-card-header>

    <nb-card-body>

      <nav aria-label="breadcrumb">
        <!-- <select hero style="width: 85%;" placeholder="All" formControlName="sort" (ngModelChange)="onChangeStatus()">
          <option value="open">Open</option>
          <option value="Inprogress">Inprogress</option>
          <option value="Test">Test</option>
         

      </select>
     -->

        

        <div class="table-responsive">
          <form [formGroup]="sortPriority">
          <nb-select formControlName="changePriority" status="success" placeholder="All"  style="width: 150px;margin-left: 80%;margin-bottom: 5px;" (ngModelChange)="SortPriority()"  >
            <!-- <nb-option value="" disabled >   --- Priority ---</nb-option> -->
            <nb-option value="1" style="margin-left: 10%;">
                      <nb-icon style="cursor: pointer;color: darkred;" icon="corner-left-up-outline"></nb-icon>
                           &nbsp;
                              Higher
          </nb-option>
            <nb-option value="2" style="margin-left: 10%;">
                      <nb-icon  style="cursor: pointer;color: red;" icon="corner-right-up-outline"></nb-icon>
                          &nbsp;
                          High
          </nb-option>
            <nb-option value="3" style="margin-left: 9%;">
              <nb-icon  style="cursor: pointer;color: lightseagreen;" icon="corner-left-down-outline"></nb-icon>
              &nbsp;
                              Medium
          </nb-option>
            <nb-option value="4" style="margin-left: 11%;">
              <nb-icon  style="cursor: pointer;color: green" icon="corner-right-down-outline"></nb-icon>
              &nbsp;
              Low
          </nb-option>
          <nb-option value="5" style="margin-left: 11%;">
            <!-- <nb-icon  style="cursor: pointer;color: green" icon="corner-right-down-outline"></nb-icon> -->
            &nbsp;
            All
        </nb-option>


            <!-- <option value="Ms">Ms</option> -->
          </nb-select>
          </form>
          <hr>
          <div  *ngIf="tickets?.length!= 0&&paginationAccess==1" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina($event)">
            </ngx-pagination>
    
          </div>
          <div  *ngIf="tickets?.length!= 0&&paginationAccess==2" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina1($event)">
            </ngx-pagination>
    
          </div>
          <div  *ngIf="tickets?.length!= 0&&paginationAccess==3" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina3($event)">
            </ngx-pagination>
    
          </div>
        
        
            
          <table class="table table-striped" >

            <thead>
              <tr style="text-align: center;" class="thead-dark"> 


                <th>Si.No</th>
                <th>Ticket Id</th>
                <th>Ticket Name</th>
                <th>Description</th>
                <th>Date Of Creation</th>
                <th>Created By</th>
                <th>Assigned to</th>
                <th>Project</th>
                <th style="width: 110px;">
                  <form [formGroup]="sortStatus" style="margin-right: 8px;">
                  <nb-select hero style="width: 85%;" placeholder="All" formControlName="sort" (ngModelChange)="onChangeStatus()">
                    <nb-option value="all">All</nb-option>
                    <nb-option value="open">Open</nb-option>
                    <nb-option value="Inprogress">Inprogress</nb-option>
                    <nb-option value="Test">Test</nb-option>
                    <nb-option value="closed">Closed</nb-option>

                    <!-- <nb-option value="closed">Closed</nb-option> -->

                </nb-select>
              </form></th>
                <!-- <th>Change Status</th> -->
              </tr>
            </thead>


            <tbody style="text-align: center;">
              <tr *ngIf="tickets?.length == 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width: 150px;"><b>
                    <nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found
                  </b> </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td></td>

              </tr>
              <tr *ngFor="let tick of tickets;index as i">
                <td  >{{sino[i]}}</td>
                <td  ><b>{{tick.id}}</b></td>
                <td  style="cursor: pointer;color:#3366ff;text-transform: capitalize;" (click)="viewDetails(tick)"> {{tick.name}}</td>
                <td  >
                  <nb-action nbTooltip="View Ticket Description" nbTooltipPlacement="top" data-toggle="modal"
                    (click)="getDes(tick)" data-target="#exampleModalCenter">
                    &nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
                   
                  </nb-action>
                </td>
                <td  >{{tick.createdon|date}}</td>
                <td  >{{tick.createdby.name}}</td>
                <td ><b>{{tick.assignto.name}}</b></td>
                <td  >{{tick.projectname.projectname}}</td>
                <td *ngIf="tick.status=='open'"><b>open</b>  
                  <nb-icon *ngIf="tick.priority=='1'" style="cursor: pointer;color: darkred;" nbTooltip="Higher" nbTooltipPlacement="top" icon="corner-left-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='2'" style="cursor: pointer;color: red;" nbTooltip="High" nbTooltipPlacement="top" icon="corner-right-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='3'" style="cursor: pointer;color: lightseagreen;" nbTooltip="Medium" nbTooltipPlacement="top" icon="corner-left-down-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='4'" style="cursor: pointer;color: green;" nbTooltip="Low" nbTooltipPlacement="top" icon="corner-right-down-outline"></nb-icon>
                </td>
                <td *ngIf="tick.status=='Inprogress'" style="color: darkorange; text-shadow:black;"><b>In Progress</b>
                  <nb-icon *ngIf="tick.priority=='1'" style="cursor: pointer;color: darkred;" nbTooltip="Higher" nbTooltipPlacement="top" icon="corner-left-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='2'" style="cursor: pointer;color: red;" nbTooltip="High" nbTooltipPlacement="top" icon="corner-right-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='3'" style="cursor: pointer;color: lightseagreen;" nbTooltip="Medium" nbTooltipPlacement="top" icon="corner-left-down-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='4'" style="cursor: pointer;color: green;" nbTooltip="Low" nbTooltipPlacement="top" icon="corner-right-down-outline"></nb-icon>
                </td>
                <td *ngIf="tick.status=='Test'" style="color:green; text-shadow:black;"><b>Test</b>
                  <nb-icon *ngIf="tick.priority=='1'" style="cursor: pointer;color: darkred;" nbTooltip="Higher" nbTooltipPlacement="top" icon="corner-left-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='2'" style="cursor: pointer;color: red;" nbTooltip="High" nbTooltipPlacement="top" icon="corner-right-up-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='3'" style="cursor: pointer;color: lightseagreen;" nbTooltip="Medium" nbTooltipPlacement="top" icon="corner-left-down-outline"></nb-icon>
                  <nb-icon *ngIf="tick.priority=='4'" style="cursor: pointer;color: green;" nbTooltip="Low" nbTooltipPlacement="top" icon="corner-right-down-outline"></nb-icon>
                </td>
                <td *ngIf="tick.status=='closed'">
                  <span class="strikeout" style="color: brown; font-style: italic; text-decoration: line-through; "><b>Closed</b></span>
                </td>
             
               

                <!-- <td *ngIf="tick.status!='closed'" >
                  <form [formGroup]="status">
                    <div class="form-group ">
                      <nb-select style="width: 124px;" formControlName="update" (ngModelChange)="onCha(tick)">
                        <nb-option value="" disabled>{{tick.status}}</nb-option>
                        <nb-option value="Inprogress">Inprogress</nb-option>
                        <nb-option value="Test">Test</nb-option>

                      
                      </nb-select>
                    </div>
                  </form>
                </td> -->

              </tr>

            </tbody>

          </table>

        </div>

      </nav>


    </nb-card-body>
  </nb-card>
</body>

<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ticket Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>