<div class="row">
    <div class="col-lg">
      <nb-card>
        <nb-card-header>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

                  <li class="breadcrumb-item"><a routerLink="/pages/project/project-list">Project list</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Add ticket</li>
                </ol>
              </nav>    
              <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;">Create Ticket</h6>
            </nb-card-header>
        <nb-card-body>
  
          <form [formGroup]="add_ticket">
            <div class="form-group  ">
              <nb-select placeholder="Type Of Issue" formControlName="typeofissue" style="width: 300px;" [ngClass]="{ 'is-invalid': submitted && f.typeofissue.errors }">
                <nb-option value="" disabled > ---  Type Of Issue --- </nb-option>
                <nb-option value="1" style="margin-left: 25%;">Improvement</nb-option>
                <nb-option value="2" style="margin-left: 30%;">Bug</nb-option>
                <nb-option value="3" style="margin-left: 30%;">Task</nb-option>
                <nb-option value="4" style="margin-left: 30%;">Issue</nb-option>
  
    
                <!-- <option value="Ms">Ms</option> -->
              </nb-select>
              <div *ngIf="submitted && f.typeofissue.errors">
                <div class="dropdown" *ngIf="f.typeofissue.errors.required">Select Issue Type</div>
              </div>
            </div>
  
            <!-- -------------------------------------------------- -->
             <div class="form-row">
              <p>purpose of the Ticket: <sup style="color:red;">*</sup></p>
            </div>
  
            <div class="form-group   ">
  
              <input type="text" formControlName="tname" nbInput fullWidth  
                placeholder="Purpose of the Ticket"  
                [ngClass]="{ 'is-invalid': submitted && f.tname.errors }" />
              <div *ngIf="submitted && f.tname.errors"  >
                <div class="dropdown" *ngIf="f.tname.errors.required">Ticket name is required</div>
              </div>
            </div>
            <!-- -------------------------------------------------- -->

            <div class="form-row">
              <p>Description: <sup style="color:red;">*</sup></p>
            </div>
            <div class="form-group   ">
              <textarea formControlName="description" nbInput fullWidth   rows="5" cols="70" name="comment"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors">
                <div  class="dropdown" *ngIf="f.description.errors.required">Description Required for the Ticket</div>
              </div>
            </div>
            <!-- -------------------------------------------------- -->
            <div class="form-row">
                <p>Project<sup style="color:red;">*</sup></p>
              </div>
    
              <div class="form-group   ">
                <input  type="text" formControlName="project" nbInput fullWidth  style="border-radius: 5px;"
                  value="{{currentProject}}" disabled
                  [ngClass]="{ 'is-invalid': submitted && f.project.errors }" />
                <div *ngIf="submitted && f.project.errors"  >
                  <div class="dropdown" *ngIf="f.project.errors.required">project name is required</div>
                </div>
              </div>
              
             <!-- ----------------------Get project---------------------------- -->
            <!-- <div class="form-row">
              <p>Get Project: <sup style="color:red;">*</sup></p>
            </div>
  
            <div class="form-group">
              <nb-select (selectedChange)="projectEmployeeList()" (ngModelChange)="projectEmployeeList()"
                formControlName="project" style="width: 300px;"
                [ngClass]="{ 'is-invalid': submitted && f.project.errors }">
                <nb-option value="" disabled> --- none --- </nb-option>
                <nb-option *ngFor="let proj of getproject" [value]="proj._id">{{proj.projectname}}</nb-option>
                 
              </nb-select>
              <div *ngIf="submitted && f.project.errors">
                <div class="dropdown" *ngIf="f.project.errors.required">select Team Leader </div>
              </div>
            </div> -->
            
  
  
            <!-- -------------------------------------------------- -->
            <!-- <div class="form-row">
              <p>Assigned to: <sup style="color:red;">*</sup></p>
            </div>
            <div class="form-row col" >
  
              <div class="form-group col-6">
                <nb-select formControlName="emp" style="width: 250px;"
                  [ngClass]="{ 'is-invalid': submitted && f.emp.errors }">
                  <nb-option value="" disabled> --- none --- </nb-option>
                  <nb-option *ngFor="let emp of  projectEmp" [value]="emp._id">{{emp.name}}</nb-option> 
                </nb-select>
                <div *ngIf="submitted && f.emp.errors">
                  <div class="dropdown" *ngIf="f.emp.errors.required">select Team Leader </div>
                </div>
              </div>
            </div> -->
            <!-- -------------------------------------------------- -->
            <!-- -------------------------------------------------- -->
            <hr>
            <div class="text-center">
              <button nbButton hero status="success"  (click)="onsubmit()">Add Ticket</button>
              &nbsp;<button nbButton hero status="danger" (click)="onReset()">Cancel</button>
            </div>
            <sub><div style="color: red; font-size: 10px; text-align: end;">( * for Required Fields.)</div></sub>
            <hr>
            <!-- -------------------------------------------------- -->
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
