<body>
  <nb-card>
    <nb-card-header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

          <li class="breadcrumb-item"> Project list</li>
         <!-- <li class="breadcrumb-item active" aria-current="page">Add_Project</li> -->
        </ol>
      </nav>
     

<div class="row">
      <h6 style="font-family:'Times New Roman', Times, serif; font-size: 25px;text-shadow: black;margin-top:11px; margin-left: 16px;">Project List</h6>
      <button style="margin-left: 70%;" class="btn  btn-success" (click)="onClick()" *ngIf="users">Add Project</button>
    </div>      
    </nb-card-header>

    <nb-card-body>

       
        <div class="container">
           
          <input class="form-control" type="text" name="search" [(ngModel)]="searchName" (keyup)="Search(searchName)" autocomplete="off"
            placeholder="&#61442;  Click here to search by Project Name........">
           
            <hr>
          <!-- <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->
          <div *ngIf="projects?.length!= 0 && accessPagination==1" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina($event)">
            </ngx-pagination>
    
          </div>
       
          <div *ngIf="projects?.length!= 0 && accessPagination==2" style="margin-left: 23%;">
            <ngx-pagination
            [page]="pageno"
            total="size"
             [totalPages]="totalPages"
              (mudouPagina)="mudouPagina2($event)">
            </ngx-pagination>
    
          </div>
       

        
          <div class="table-responsive">

            <table class="table table-striped" style="border:ridge">
              <thead class="thead-dark">
                <tr style="text-align: center;">
                  <th> Si.No</th>
                  <th>Project Name</th>
                  <th>Description</th>
                  <th>Date Of Creation</th>
                  <th>Team Leader</th>
                  <th style="width: 120px;">Employees</th>
                  <th *ngIf="users">Update Project</th>
                  <th>Add Ticket</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <tr *ngIf="projects?.length == 0">
                  <td></td>
                 <td></td>
                 <td></td>
               <td style="width: 150px;"><b><nb-icon style="cursor: pointer;" icon="alert-triangle-outline"></nb-icon>&nbsp;No data found </b> </td>
               <td></td>
               <td></td>
               <td></td>
                
              </tr>
                
                <tr *ngFor="let pro of projects ;index as i ">
                     
                  <td style="width: 90px;" >{{sino[i]}}</td>
                  <td style="width: 150px;cursor: pointer;color:#3366ff;text-transform: capitalize;" nbTooltip="View Ticket Details" nbTooltipPlacement="top"  (click)="viewDetails(pro)"> {{pro.projectname}}</td>
                  <td style="width: 80px;">
                    <nb-action nbTooltip="View Project Description" nbTooltipPlacement="top" data-toggle="modal"
                      (click)="getDes(pro)" data-target="#exampleModalCenter">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="eye"></nb-icon>
                      <!-- <ion-icon name="eye-outline"></ion-icon> -->
                    </nb-action>
                  </td>
                  <td style="width: 150px;">{{pro.createddate|date}}</td>
                  <!-- <td></td> -->
                  <td style="width: 110px;">{{pro.teamlead.name}}</td>
                  <td style="width: 150px;">
                    <p *ngFor="let emp of pro.employees">
                      <a href=""><span>&nbsp;{{emp.name}} </span> </a></p>
                  </td>
                  <td *ngIf="users" style="width: 50px;">
                    <nb-action nbTooltip="Edit Project" nbTooltipPlacement="top"  
                      (click)="onClickPen(pro)"  >
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="edit-outline"></nb-icon>
                    </nb-action>
                  </td>
                  <td style="width: 50px;">
                    <nb-action nbTooltip="Add Ticket" nbTooltipPlacement="top"  
                      (click)="addProjectTicket(pro)">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<nb-icon style="cursor: pointer;" icon="plus-outline"></nb-icon>
                    </nb-action>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
    </nb-card-body>
  </nb-card>
</body>
<!-- ------------------------------------------view Descriton--------------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"><p>Project</p>
        <h5 class="modal-title" id="exampleModalLongTitle"> {{nameDes}}'s Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{getDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>  
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
 