<div class="row">
  <div class="col">
    <div class="row">
      <nb-card style="width: 97%; margin-left: 13px;">
        <nb-card-body>
          <img style="width:15%;margin-left: 40%;" src="./assets/images/pmss.png ">
        </nb-card-body>
      </nb-card>
    </div>

    <!-- --------------------------------------------------------------- -->

    <div class="row">
      <div class="col-md">
        <ngx-profit-card></ngx-profit-card>
      </div>
      

      <div class="col-md">
        <nb-card>
          <nb-card-body>
            <span>{{dateVal | date:'fullDate'}} </span>
            <span style="margin-left: 34%;"> {{dateVal | date:"h:mm"}}:{{clock}} {{dateVal | date:'a'}}</span>
          </nb-card-body>
        </nb-card>
        
        <div class="row">
          <div class="col-lg">
            <nb-card>
              <nb-card-header>:) Welcome To PMS</nb-card-header>
              <nb-card-body>

              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------- -->
 <ngx-duedate></ngx-duedate>
<!-- --------------------------------------------------------------- -->

<div class="row">
  <div class="col">
    <ngx-progress-card></ngx-progress-card>
  </div>
</div>
<!-- --------------------------------------------------------------- -->

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-lg">
        <nb-card> 
          <nb-card-header>
            <h6 style="font-family:'Times New Roman', Times, serif; font-size: 20px;" >Project List</h6>
          </nb-card-header>
          <nb-card-body>
            <ngx-home-project></ngx-home-project>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>

</div>