 
 
 
<body style="background-color:white">
   

    <div class="w3-container1">
     <!-- <div class="logo">
       <img src="./assets/images/pmss.png">
     </div>
     -->
      <div class="w3-card-4" style="width:100%;">
        <div class="w3-container">
           <br>
        <br>

          <hr style="margin-top: 0px;">
          <br>
          <br>
          <br>
          <h1 id="title"style="text-align: center;" >Forgot Password</h1>
          <p style="text-align: center;">Enter your email address and we’ll send a link to reset your password</p>

<br>
          <form class="sty" [formGroup]="forgetPassword">
            <div class="form-group">
           <label for="email" style="color: grey;" >Email address </label>
           <input type="text" style="height: 50px;" formControlName="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors  }" placeholder="Enter email here" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,4}$"/>
           <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
               <div *ngIf="fval.email.errors.required">Email is required</div>
               <!-- <div *ngIf="fval.email.errors.email">Enter valid email address</div> -->
               <div *ngIf="fval.email.errors.pattern">Enter Valid email address</div>
           </div>
       </div>
       <br>
        <div class="form-group text-center">
           <button nb-button  style="width: 100%;height: 50px;" class="btn btn-primary " (click)="sendEmail()">
               <!-- <span  class="spinner-border spinner-border-sm mr-1" style="margin-left: 39%;"></span> -->
               Request Password
           </button>
       </div>
       <a routerLink="/" style="cursor: pointer; color: gray;">back to login</a>
     
    </form>

    <br>
    <br>
    <br>
    
    <hr><br>
    
     
      </div>
    </div>
    </div>
    
     
    <!-- ================================================= -->
       
                
   
   
   <!-- ================================================= -->
    