 //:host{display:block;width:100%;max-width:35rem}:host ::ng-deep form{width:100%}:host ::ng-deep
img{
    width: 150px;
    height:65px;
    }

.logo{
    text-align: right;
    max-width: 75%;
    width:100%;
    margin-bottom:-1%;
}
  .w3-container1{
      box-shadow: black;
    //  padding-top:140px;
     
     
      
   
     
      }

  .w3-container{
      background-color: rgb(245, 247, 250);
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
       margin-bottom: 5%;
              //scroll-padding-left: 30;
  }

  .sty{
      margin-left: 27%;
      margin-right: 27%;
  }

  .head{
    margin-left: 42%;
    margin-top: 20px;
    //text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
//   ======

  